<!--
TABLE TEMPLATE INSTRUCTIONS:

- DO NOT remove class "rsu-table"
- COPY entire <tr> block to add new rows
- EDIT text inside <td> only - this is your columns ( You can add/remove new column by just copying <td> inside the <tr> )
- KEEP data-label values in sync with column headers (important for mobile)

You can use:
<strong>bold</strong>
<a href="https://example.com">links</a>
-->

<table class="rsu-table">
  <thead>
    <tr>
      <th>Column 1 - header</th>
      <th>Column 2 - header</th>
      <th>Column 3 - header</th>
    </tr>
  </thead>

  <tbody>
    <!-- COPY THIS <tr> BLOCK TO ADD MORE ROWS -->
    <tr>
      <td data-label="Column 1 - header">Column 1</td>
      <td data-label="Column 2 - header">
        Column 2 – <a href="https://example.com">Link Text</a>
      </td>
      <td data-label="Column 3 - header">
        Column 3 – <strong>Bold Text</strong>
      </td>
    </tr>
  </tbody>
</table>